<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center" >COVID19 Detailed Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="buttonContainer">
    <p>See Updated Statistics on the novel Corona Virus for the last 12 Days</p>
    <p>Search Country by Name below</p>
  </div>
  <!--Allows user to search for specific country to display Covid19 Stats from API -->
    <ion-input placeholder="Enter Countries Name" style="text-align:center; text-size-adjust: 40px;" [(ngModel)]="searchCountry"></ion-input>
  <div id="buttonContainer">
    <ion-button (click)="performSearch()">Search Country</ion-button>
  </div>
  

  <!-- Displays list of COVID19 Statistics from API-->
  <ul>
    <li style="list-style-type: none" *ngFor="let place of CountryTracker">

      <h1 style="text-align:center">{{place.Country}}</h1>
      <h4 style="text-align:center">Date+Time: {{place.Date}}</h4>
      <h4 style="text-align:center; color: rgb(211, 97, 3);">Confirmed Cases: {{place.Confirmed}}</h4>
      <h4 style="text-align:center; color: red;">Deaths: {{place.Deaths}}</h4>
      <h4 style="text-align:center; color: rgb(4, 81, 196);">Active Cases: {{place.Active}}</h4>
      <h4 style="text-align:center; color: green;">Recovered: {{place.Recovered}}</h4>


    </li>
  </ul>

</ion-content>