<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title">
      COVID19 Hub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title id="title" size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">




    
    <ion-button [routerLink]="['/news']" routerDirection="forward" id="homeButtons"  expand="block" >Covid19 Statistics</ion-button>
    <ion-button [routerLink]="['/quiz']" routerDirection="forward" id="homeButtons" expand="block" >Covid19 Safety Quiz</ion-button>
    <ion-button [routerLink]="['/stayactive']" routerDirection="forward" id="homeButtons" expand="block" >Stay Active</ion-button>
    
    

    
  </div>
</ion-content>
 
